[Unit]
Description=uWSGI instance to serve tf_serving_app
After=network.target

[Service]
User=mkowoods
Group=www-data
WorkingDirectory=/home/mkowoods/tf-serving-flask
Environment="PATH=/home/mkowoods/miniconda/envs/tf-serving/bin"
ExecStart=uwsgi --ini tf_serving_app.ini

[Install]
WantedBy=multi-user.target