[Unit]
Description=startup tensorflow server
[Service]
ExecStart=/home/mkowoods/serving/bazel-bin/tensorflow_serving/model_servers/tensorflow_model_server \
                                --port=9000 \
                                --model_config_file=/home/mkowoods/tf-serving-flask/tf_serving_config.conf
Restart=always
[Install]
WantedBy=multi-user.target